
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');


:root{
    --primary-color: #2bb39a ;
    --secondary-color: #858fff ;
    --accent1-color: #ff7583;
    --accent2-color: #000000;
    --heading-font: "Roboto Slab";
    --background_color: #ffffff;
    --paragraph-font: "Saira Condensed", Helvetica, sans-serif;
    --a-color: rgb(66, 30, 89);
}

a{
    color: var(--a-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

body {
    background-color: var(--background_color);
    color: var(--accent2-color);
}

body {
    width: 80%;
    margin: auto;
    font-family: var(--paragraph-font);
}

header,
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;
    margin: 1rem auto;
    font-size: large;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.card {
    border: 1px solid var(--accent2-color);
    background-color: var(--background_color);
    margin: 0.5rem auto;
    min-width: 100%;

}
.card img {
    border: 1px solid var(--accent2-color);
    min-width: 100%;
    min-height: 20rem;
}


h3 {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    margin: 0;
    padding: 1rem;


}

img {
    width: 100%;
    margin-top: 1rem;
}

nav {
    background-color: var(--accent1-color);
    text-align: center;
}
nav ul ol{
    padding: .5rem;
    font-size: 2rem;
}
#hero {
    border: 1px solid var(--accent2-color);
    min-width: 100%;
    min-height: auto;
}    
.info li{
    background-color: var(--secondary-color);
    margin: 1%;
}
#cal{
    border: 0; 
    min-width: 100%;
    min-height: 600px;
}

.switch{
    position: absolute;
    top: 5%;
    right: 12%;
    font-size: 200%;
}

.switch.hide{
    color: #000000;
}
.switch.hide::before {
	content: "☀";
    font-size: 150%;
    color: white;
}
.switch::before {
	content: "🌙";
}

.mainFormInfo{
    text-align: left;
}

.mainFormInfo label {
    display: block;

    margin: 0 auto;

}

label {
    padding: 5px;
}

#classJoinButton {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.centerLeft{
    text-align: left;
}

/* code for directory */

.grid {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}


.list section:nth-child(even) {
	background-color: #bed;
    color: var(--background_color);
}

.list section:nth-child(even) h3{
    color: var(--accent2-color);
}


