@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .info{
        grid-column: 1/3;
    }
    nav {
        display: flex;
        padding-left: 50px;

    }
    nav ol {
        flex: 1 1 100%;
        display: flex;

    }
    nav a {
        display: block;
        text-align: center;
        margin: auto;
    }
    .card {
        min-width: 80%;
        margin: 1rem;
    }
    #cal{
        min-height: 800px;

    }
    .gallery img{
        transition: transform .3s;
    }
    .gallery img:hover {
        transform: scale(1.05);
    }
    .forcast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }
}
