
@media screen and (min-width: 1000px) {

    nav ul {
        display: flex;

    }
    nav ul li {
        flex: 1 1 100%;

    }
    nav a {
        display: block;
        text-align: center;
    }
    #mobile_menu_button {
        display: none;
    }
}